/*
!public
!src
!.eslintignore
!.eslintrc.json
!.prettierignore
!.prettierrc
!.next-env.d.ts
!.gitignore
!package.json
!pnpm-lock.yaml
!README.md
!tsconfig.json
!jest.config.mjs
!jest.setup.js
!next-env.d.ts